<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cyber Fenix Tecnología</title>
</head>
<body>

    <header>
        <h1>Cyber Fenix Tecnología</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{{url_for('inicio')}}">Inicio</a></li>
            <li><a href="{{url_for('about')}}">Acerca de</a></li>
            <li><a href="{{url_for('producto_nuevo')}}">Nuevo producto</a></li>
        </ul>
    </nav>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>

    <footer>
        <p>© 2026 Cyber Fenix Tecnología</p>
    </footer>

</body>
</html>