{% extends "base.html" %}

{% block title %} Datos {% endblock %}

{% block content %}
<h2> Persistencia de datos con txt, json y csv</h2>
<form method="post">
    <label for=""> Nombre</label>
    <input type="text" name="nombre" id="">

    <label for=""> Descripción</label>
    <input type="text" name="descripcion" id="">

    <label for=""> Cantidad</label>
    <input type="text" name="cantidad" id="">

    <label for=""> Precio</label>
    <input type="text" name="precio" id="">

    <button type="submit">Guardar</button><br> 
</form>

<hr>
<h3>Txt</h3>
<ul>
    {% for line in datos_txt %}
    <li>{{line}}</li>
    {% endfor %}
</ul>

<h3>Json</h3>
<pre>{{datos_json}}</pre>

<h3>CSV</h3>
<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>

    <tbody>
        {% for item in datos_csv %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.precio }}</td>
            <td>{{ item.cantidad }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}