{% extends 'base.html'%}

{% block title %} Formulario de productos {% endblock %}

{% block content %}
    <form method="post">
        {{form.hidden_tag()}}

        <p>
            {{form.nombre.label}}<br>
            {{form.nombre()}}

        </p>

         <p>
            {{form.descripcion.label}}<br>
            {{form.descripcion()}}

        </p>

         <p>
            {{form.cantidad.label}}<br>
            {{form.cantidad()}}

        </p>

         <p>
            {{form.precio.label}}<br>
            {{form.precio()}}

        </p>

         <p>

            {{form.submit()}}

        </p>
    </form>

{% endblock %}